a:link {color: #000000;}
a:hover {color: #37ec12;}
a:active {color: #0aeb0a}
a::backdrop {color: #b8dd10}
.navs{display: flex;
     justify-content: space-around;
     font-family: 'Courier New', Courier, monospace; 
     font-size: 1em;
     position: relative;
    }
 a {text-decoration: none;}
 .bio{display: flex;float: right;}
.headerbg{background: linear-gradient(rgba(0,0,0,0.6),rgba(233, 35, 35, 0.3));
          background-image: url(https://ptuyishi-su.github.io/ist263-/projectsixth/joshualand.png);
          background-repeat: no-repeat; 
          background-size: cover;
          background-attachment: fixed;
          background-position: top;
          height: 80vh;
          
        } 
        

.locations{display: flex; justify-content: space-evenly;}

h1,h2 {color: #000000; text-align: center;}
.bottom{background-color: rgb(255, 253, 251);}
html, body {
       margin: 0;
       padding: 0;
   }
@media screen and (max-width: 650px){
       .locations{display: block; padding: 30px;}
}
@media screen and (max-width: 650px){
       aside{float: right; width: 200px;}
}
.map{align-items: center;
       width: 100%;
       height: 300px;}
aside { position: relative; 
       width: 400px;
       margin-right: 20px;
       background-color: ivory;opacity: 9;
       font-family: 'Courier New', Courier, monospace; 
       font-size: 1.3em;}
.locations img{
       width: 100%;
       
}
.bio span{background-color: ivory; opacity: 9;}
aside{padding: 30px;}
.footing{display: flex;
       margin-inline: 300px;}
.footquote{float: right;}
.spain, .thailand, .mexico{margin-left: 30px;}

h3 {align-items: center;}
.locations{margin: 30px;}


.indiaheader,.whyindia{text-align: center;}
.indianav {display: flex;
       justify-content: space-around;
       font-family: 'Courier New', Courier, monospace; 
       font-size: 1em;
       position: relative;
       
}
.infood, .inpeople, .insites{padding: 27px; 
       border: 1px solid black;
       border-radius: 20px;}
.info {width: 600px;
       display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   margin-left: 30px;

}
.headertaj{padding-left: 100px;padding-right: 100px;}
