a:link {color: #000000;}
a:hover {color: #c51111;}
a:active {color: #0aeb0a}
a::backdrop {color: #b8dd10}
.navs{display: flex;
     justify-content: space-around;
     font-family: 'Courier New', Courier, monospace; 
     font-size: 1em;
     position: relative;
    }
 a {text-decoration: none;}
 .bio{display: flex;float: right;}
.headerbg{background: linear-gradient(rgba(0,0,0,0.6),rgba(233, 35, 35, 0.3));
          background-image: url(https://ptuyishi-su.github.io/ist263-/projectsixth/joshualand.png);
          background-repeat: no-repeat; 
          background-size: cover;
          background-attachment: fixed;
          background-position: top;
          height: 80vh;
        } 
        
.insites {transition: 0.5s all ease-in-out;}
.infood {transition: 0.5s all ease-in-out;}
.inpeople {transition: 0.5s all ease-in-out; }
.inpeople:hover {transform: scale(1.1);background-color: #0aeb0a;}
.insites:hover {transform: scale(1.1);background-color: #0aeb0a;}
.infood:hover {transform: scale(1.1);background-color: #0aeb0a;}

.locations{display: flex; justify-content: space-evenly;}

h1,h2 {color: #000000; text-align: center;}
.bottom{background-color: rgb(255, 253, 251);}
html, body {
       margin: 0;
       padding: 0;
   }
@media screen and (max-width: 650px){
       .locations{display: block; padding: 30px;}
}
@media screen and (max-width: 650px){
       aside{float: right; width: 200px;}
}
.map{align-items: center;
       width: 100%;
       height: 300px;}
aside { position: relative; 
       width: 400px;
       margin-right: 20px;
       background-color: ivory;opacity: 9;
       font-family: 'Courier New', Courier, monospace; 
       font-size: 1.3em;}
.locations img{
       width: 100%;
       
}
.bio span{background-color: ivory; opacity: 9;}
aside{padding: 30px;}
.footing{display: flex;
       margin-inline: 300px;}
.footquote{float: right;}
.spain, .thailand, .mexico{margin-left: 30px;}

h3 {align-items: center;}
.locations{margin: 30px;}


.indiaheader,.whyindia{text-align: center;}
#indianav {display: flex;
       justify-content: space-around;
       font-family: 'Courier New', Courier, monospace; 
       font-size: 1em;
       position: relative;
       
}
.blues{display: flex;margin: 40px;}
#building {width: 600px;}
#walk{width: 500px; margin-left: 30px;}
.infood, .inpeople, .insites{padding: 27px; 
       border: 1px solid black;
       border-radius: 20px;}
.info {margin: 30px;
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-family:"Questa Sans","Helvetica Neue",Helvetica,Arial,sans-serif,'Poppins', sans-serif;;
       color: #333;
       font-family: Georgia,Times New Roman,Times,serif;
       font-weight: 400;
       font-size: 1.5rem;
       line-height: 1.632;
       letter-spacing: .1px;
       margin-bottom: 24px;
   }
.headertaj{padding-left: 100px;padding-right: 100px;}
.navs {
       border: none;
       color: black;
       padding: 1px 0px;
       text-align: center;
       font-size: 1.5rem;
       margin: 4px 2px;
       transition: 0.3s;
     }
     
.navs:hover {
       background-color: #0aeb0a;
       color: white;
       height: 20px;
     }
 .peopleinfo,.foodinfo {font-family: "Questa Sans","Helvetica Neue",Helvetica,Arial,sans-serif,'Poppins', sans-serif;
 }
 #insites p {
       font-family: Georgia,serif;
       color: #333;
       font-size: 1rem;
       font-weight: normal;
       letter-spacing: .1px;
       line-height: 29px;
       margin-left: 320px; 
       }
h3{    margin-left: 320px; 
       margin-right: 450px;}
.tiger, #plate, #goldenplace, #firewalk, #holi{width: 90%; margin-left: 30px;}
#palace {width: 400px;
       margin-left: 330px;}
#snow {width: 800px;}
.snowtext img{float: left; margin: 30px;}
.snowtext span{font-family: Georgia,serif;
       color: #333;
       font-size: 1.5rem;
       font-weight: normal;
       letter-spacing: .1px;
       line-height: 29px;
       margin-right: 20px;
       padding-right: 30px;}
#spiceseller{width: 500px;}
.foodinfo img {float: left; margin-right: 20px;}
.foodinfo span{font-family: Georgia,serif;
       color: #333;
       font-size: 1.5rem;
       font-weight: normal;
       letter-spacing: .1px;
       line-height: 29px;
       }
       span {margin-right: 300px;}
#swizzer {width: 510px;}
#flowers, #firewalk {width: 900px;
       margin-left: 250px;}
body img{width: 100%;
       height: auto;}
#inpeople, #infood {display: none;}
#inpeople p{font-family: Georgia,serif;
       color: #333;
       font-size: 1.5rem;
       font-weight: normal;
       letter-spacing: .1px;
       line-height: 29px;
       margin-left: 320px; 
       }
#infood p{font-family: Georgia,serif;
              color: #333;
              font-size: 1.5rem;
              font-weight: normal;
              letter-spacing: .1px;
              line-height: 29px;
              margin-left: 320px; 
              position: relative; 
       width: 400px;
       }
#swizzer {width: 500px;}
@media screen and (max-width: 1400px){
       #swizzer{display: none;}}
@media screen and (max-width: 1054px){
       #righttext{margin-left: -300px;}}
@media screen and (max-width: 1200px){
       #walk {display: none;}}
@media screen and (max-width: 1050px){
       #h3tigers  {float: left;}}
@media screen and (max-width: 1050px){
       #insites p {float: left; margin-right: 100px;}}