a:link {color: blue;}
a:hover {color: #b8635c;}
a:visited {color: blue}
a::backdrop {color:#ffff}
text {color: black;}
h1 {color: #000;}
nav {background-color: #cfbfbe;}
body {background-color: #87cfd4;}
nav a:hover {background-color: gray;}
nav {padding: 10px;}
nav {margin: 30px;}