a:link {color: #ffffff;}
a:hover {color: #eeff00;}
a:active {color: #ffffff}
a::backdrop {color: #000000}
p {color: #000000;}
h1 {color: #000000;}
nav {background-color: #000000;
width: 30%;
height: 30%;}
nav {background: #000000; width: 200px;
height: 20px;
padding: 10px;
border: 5px solid #000000; margin: 20px;}
body {background-color: #d8d6d6;}
text {color: #000000;}
ul {color: #000000;}
h2 {color: #000000;}
.hr {float: right;}