a:link {color: #4d0ae7;}
a:hover {color: #dbf54b;}
a:active {color: #ffffff}
a::backdrop {color: #000000}
p {color: #000000;}
h1 {color: #000000;}
nav {background-color: #000000;
width: 30%;
height: 30%;}
nav {background: #000000; width: 200px;
height: 20px;
padding: 10px;
border: 5px solid #000000; margin: 20px;}
body {background-color: #d8d6d6;}
text {color: #000000;}
ul {color: #000000;}
h2 {color: #000000;}
.firstfootercontainer {display: flex;
display: flex;
margin-left: 20px;
margin-right: 30px;
margin-top: 30px;
flex: 1;
border-radius: 10px;
width: max-content;}
.box1{flex: 1;}
img{float: left;margin-right: 20px;}
.row1 {display: flex;
    display: flex;
    max-width: max-content;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    flex: 1;
    border-radius: 30px;
    background-color: #f2f0e9;
    width: fit-content;}
.collum2, .collum2 {margin: 30px;}
.row2 {display: flex;
margin-left: 30px;
margin-right: 30px;
margin-top: 30px;
flex: 1;
border-radius: 30px;
width: 1300px;
background-color: #f2f0e9;
}
.collum3, .collum4 {margin: 30px;margin-left: 30px;}